<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FPSStatus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FPSStatusSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A60AB111D4C3491004B3D40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A60AB251D4C3492004B3D40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A60AB301D4C3492004B3D40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AE4D6BB1DB9FBAA002005CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
